body {
  display: flex;
  height: 100%;
  margin: 0;
  background-color: #FFF;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}

#hamberger {
  padding-left: 10px;
}

.header-button {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  border: none;
}

.header-button img {
  height: 45px;
  width: 45px;
}

.header-button:hover {
  background-color: #17a3fa;
  border: none;
}

.search-bar {
  border: none;
  border-bottom: 1px solid #d9e3e8;
  font-size: 1.2em;
}

.dont-display {
  display: none;
}

.dont-display-until-medium {
  display: none;
}

.dont-display-until-large {
  display: none;
}

input {
  flex-grow: 2;
}

h2{
  text-align: center;
  margin: 10px;
}

.location-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.location-name {
  display: flex;
  color: #7d889a;
}

.circle-small {
  border-radius: 50%;
  height: 3px;
  width: 3px;
  background-color: #6f7e95;
  margin: 0 10px;
}

.preview {
  color: #3BA9AF;
}

.preview:hover {
  border-bottom: 2px solid #3BA9AF;
}

.job-overview {
  width: 100%;
  background-color: #FFF;
}

.top-job-overview-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.circle-small-green {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #86c82d;
}

.open-indicator-btn {
  display: flex;
  width: 80px;
  height: 35px;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #d9e3e8;
  background-color: #FFF;
  color: #7d889a;
}

.bookmark-edit-delete-btn {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #d9e3e8;
  background-color: #FFF;
}

.info-graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edf2f6;
  padding: 30px 0;
}

.circles-wrapper {
  width: 100%;
}

.info-circles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.graphic-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}


.green-infographic {
  border: 9px solid #41bcbb;
  border-right-color: #d9e3e8;
}

.blue-infographic {
  border: 9px solid #11a9fb;
  border-right-color: #d9e3e8;
  border-top-color: #d9e3e8;
}

.purple-infographic {
  border: 9px solid #b865b6;
  border-right-color: #d9e3e8;
  border-top-color: #d9e3e8;
  border-left-color: #d9e3e8;
}

.inside-circle {
  margin: 0;
}

.graphic-circle p{
  color: #9da5af;
}

h3 {
  font-size: 1.7em;
  color: #666d80;
}

.totals {
  margin: 0 auto;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #d9e3e8;
  background-color: #FFF;
  color: #666d80;
}

.totals:hover {
  border: 2px solid #15a2f8;
}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph img {
  width: 90%;
  margin-bottom:20px;
}

.applicants-per-day {
  color: #666d80;
  background-color: #FFF;
  border-radius: 20px;
  border: 2px solid #d9e3e8;
}

.applicants-per-day:hover {
  border: 2px solid #15a2f8;
}

hr {
  width: 100%;
}

.job-description {
  background-color: #FFF;
}

.job-description-and-sharing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf2f6;
  padding: 10px;
}

.job-description-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6f7e95;
  color: #FFF;
}

.edit-btn {
  display: flex;
  align-items: center;
  height: 40%;
  background-color: #7e8ba7;
  color: #FFF;
  margin-left: 20px;
  border: 0;
}

.edit-btn img {
  height: 20px;
  padding-right: 5px;
}

.job-description-row {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.job-description-row p {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: .9em;
}

.job-description-row img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.job-description-description-row {
  display: flex;
  align-self: flex-start;
}


.job-description-right {
  display: flex;
  justify-content: flex-end;
}

.totals-btn-div {
  display: flex;
  justify-content: center;
}

.social-buttons-wrapper {
  width: 100%;
}

.social-and-sharing {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.social-buttons {
  display: flex;
  flex-direction: column;
}

.social-btn {
  height: 45px;
  color: #FFF;
  margin: 10px 0;
  border: 0;
}

.social-btn img {
  height: 16px;
  width: 16px;
  float: left;
}


.facebook-btn {
  background-color: #3c5a99;
}

.twitter-btn {
  background-color: #01abf1;
}

.linkedin-btn {
  background-color: #007bb5;
}

.input-and-button {
  display: flex;
  width: 100%;
  height: 43px;
}

.input-fields {
  width: 69%;
  padding-left: 10px;
}

.copy-button {
  margin-left: none;
  width: 27%;
  border: none;
  background-color: #47bcc3;
  color: #FFF;
}

.soft-corners {
  border-radius: 3px;
  border: none;
}

.card-bottom-border {
  border-bottom: 3px solid #e0e5eb;
}

#totals-btn {
  margin: 10px 0;
}

 .description-align {
  margin-top: 13px;
}

#admin-checkbox {
  background-color: #fcd212;
}

#design-checkbox {
  background-color: #24affe;
}


#exec-checkbox {
  background-color: #e61960;
}

#hr-checkbox {
  background-color: #00af8a;
}

#graphics-vs-social-seperator {
  margin: 0;
  border: none;
  height: 3px;
  background-color: #e0e5e9;
}

.align-icons {
  display: flex;
  align-items: center;
  font-size: 1.1em;
}

.align-icons img {
  padding-right: 6px;
}

.job-description-right-btns {
  height: 35px;
}

.bottom-job-overview ul {
  color: #a9aaae;
}

.job-description-right-btns:hover {
  border: 2px solid #16a4fa;
}

#top-position-title {
  margin-top: 8px;
}

.job-description-hr {
  border: none;
  height: 2px;
  background-color: #f4f4f4;
  width: 90%;
}

.main-header-wrapper {
  height: 100%;
}

@media (min-width: 500px) {
  .dont-display {
    display: block;
  }

  .header-button {
    width: 20%;
  }

  .header-button img {
    height: 40px;
    width: 40px;
  }

  .circles-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
  }

  .graphic-circle {
    height: 130px;
    width: 130px;
  }

  .location-preview {
    justify-content: center;
  }
}


@media (min-width: 720px) {
  header {
    height: 52px;
  }

  .header-button {
    width: 10%;
  }

  .header-button img {
    height: 35px;
    width: 35px;
  }

  #hamberger {
    padding-left: 6px;
  }

  .top-job-overview {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  ul {
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
  }

  li {
    padding-bottom: 12px;
    margin: 0px 15px;
  }

  li:hover {
    padding-bottom: 9px;
    border-bottom: 3px solid #32acf8;
    color: #000;
  }

  h2 {
    margin: 5px 0;
  }

  .preview {
    margin: 0;
  }

  .graph-and-btn {
    padding-top: 15px;
    padding-right: 25px;
  }

  .social-and-sharing {
    width: 100%;
    padding-top: 15px;
  }

  .location-preview {
    justify-content: flex-start;
  }

  .location-name p{
    margin: 0;
  }

  .location-name img {
    height: 16px;
  }

  .open-indicator-btn {
    margin-left: 20px;
  }

  .top-job-overview {
    justify-content: space-around;
  }

  .top-job-overview-right {
    display: flex;
    align-items: flex-start;
    width: 40%;
    justify-content: space-around;
  }

  .dont-display-until-medium {
    display: block;
  }

  .bottom-job-overview ul {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
  }

  .info-graphics {
    height: 11%;
    flex-direction: row;
    align-items: flex-start;
  }

  .circles-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .info-circles {
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 18px;
  }

  .circles-wrapper {
    width: 62%;
  }

  .graphic-circle {
    margin-bottom: 0;
    height: 110px;
    width: 110px;
  }

  .graph img {
    width: 245px;
    height: 132px;
    margin-bottom: 17px;
  }

  .totals-btn-div {
    display: flex;
    justify-content: center;
  }

  .job-description-and-sharing {
    padding: 20px;
  }

  .job-description-header {
    justify-content: flex-start;
    padding-left: 20px;
  }

  .fixing-text {
    margin-right: 15px;
  }

  .header-button {
    border-right: 1px solid #d9e3e8;
    border-top: none;
    border-bottom: 1px solid #d9e3e8;
  }

  .left-border {
    border-left: 1px solid #d9e3e8;
  }

  #search-icon {
    display: flex;
    justify-content: flex-end;
    border-right: none;
  }

  #search-icon:hover {
    background-color: #FFF;
    border-bottom: 1px solid #d9e3e8;
  }

  #active-state {
    padding-bottom: 9px;
    border-bottom: 3px solid #32acf8;
    color: #000;
  }

  #active-state:hover {
    border-bottom: none;
    color: #a9aaae;
  }
}

@media (min-width: 800px) {
  .job-description-and-sharing {
    flex-direction: row;
  }

  .bottom-job-overview ul {
    justify-content: flex-start;
  }

  .job-description-and-sharing {
    align-items: flex-start;
    padding: 25px;
    padding-left: 38px;
  }

  .job-description {
    width: 81%;
  }

  .social-and-sharing {
    width: 40%;
    padding-left: 40px;
    padding-right: 0;
    padding-top: 0;
  }

  .facebook-btn {
    margin-top: 0;
  }

  .social-btn {
    height: 55px;
  }

  .top-job-overview {
    justify-content: space-between;
  }

  .top-job-overview-right {
    justify-content: flex-end;
  }

  .job-description-right-btns {
    margin-right: 12px;
  }

  .input-and-button {
    padding-bottom: 24px;
  }

  .top-job-overview-left {
    padding-left: 20px;
  }

  .categories div {
    margin-right: 10px;
  }

  .job-description-right img {
    margin-right: 10px;
  }

  #search-icon {
    display: flex;
    justify-content: flex-end;
    border-right: none;
  }

  #search-icon:hover {
    background-color: #FFF;
    border-bottom: 1px solid #d9e3e8;
  }

  .section-name {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .info-graphics {
    height: 16%;
  }
}

@media (min-width: 1000px) {
  header {
    height: 50px;
  }

  .header-button {
    width: 70px;
    border-right: 1px solid #d9e3e8;
    border-top: none;
    border-bottom: 1px solid #d9e3e8;
  }

  .header-button img {
    width: 25px;
    height: 25px;
  }

  .left-border {
    border-left: 1px solid #d9e3e8;
  }

  .top-job-overview {
    justify-content: space-between;;
  }

  .top-job-overview-right {
    justify-content: flex-end;
  }

  .job-description-right-btns {
    margin-right: 12px;
  }

  .totals {
    width: 69%;
  }

  .info-graphics {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 18%;
    padding-top: 40px;
  }

  .info-circles {
    display: flex;
    flex-direction: column;
  }

  .circles-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .totals-btn-div {
    display: flex;
    justify-content: center;
    width: 75%;
    font-size: 15px;
    padding-top: 16px;
  }

  .circles-wrapper {
    width: 60%;
  }

  .job-description-and-sharing {
    flex-direction: row;
    padding-left: 38px;
  }

  .graph-and-btn {
    width: 40%;
    display: flex;
    justify-content: center;
    padding-top: 18px;
  }

  .graph img{
    height: 150px;
    width: 90%;
    margin-bottom: 12px;
  }

  .job-description-and-sharing {
    align-items: flex-start;
    padding: 25px;
    padding-left: 38px;
    padding-top: 50px;
  }

  .job-description {
    width: 80%;
  }

  .social-and-sharing {
    width: 40%;
    padding-left: 40px;
    padding-right: 15px;
  }

  .facebook-btn {
    margin-top: 0;
  }

   .dont-display-at-large {
    display: none;
  }

  .dont-display-until-large {
    display: block;
  }

  .main-header-wrapper {
    height: 100%;
    width: 90%;
    overflow: scroll;
  }

  .main-aside-wrapper {
    width: 200px;
    /*height: 100%;*/
    background-color: #354052;
    color: #7d889a;
  }

  aside {
    height: 100%;
  }

  .profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-pic img {
    margin: 25px auto 10px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }

  .profile-pic p {
    margin: 0 0 10px 0;
    font-size: .9em;
  }

  .aside-links {
    display: flex;
    flex-direction: column;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    display: flex;
    align-items: flex-end;
    padding: 7px 0;
    font-size: 12px;
  }

  a img {
    height: 16px;
    margin-right: 10px;
  }

  .main-aside-wrapper hr {
    border: none;
    height: 3px;
    background-color: #2e394b;
  }

  .social-buttons-wrapper {
    padding: 0;
  }

  .input-and-button {
    padding-bottom: 15px;
  }

  .small-square {
    height: 12px;
    width: 12px;
  }

  .green-square {
    background-color: #00af8a;
  }

  .blue-square {
    background-color: #2badfb;
  }

  .red-square {
    background-color: #e81b61;
  }

  .yellow-square {
    background-color: #f9e104;
  }

  .padding-left-side p {
    padding-left: 18px;
  }

  a {
    padding-left: 18px;
  }

  a:hover {
    color: #FFF;
    background-color: #30394a;
  }
}
