* {
  border: 1px solid orange;
}

html {
  height: 100vh;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}

.header-button {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  border: none;
  /*border-right: 1px solid gray;
  border-top: none;
  border-bottom: 1px solid gray;*/
}

.header-button img {
  height: 45px;
  width: 45px;
}



.header-button:hover {
  background-color: #1E90FF;
  border: none;
}

.search-bar {
  border: none;
  border-bottom: 1px solid #d9e3e8;
  font-size: 1.2em;
}

.dont-display {
  display: none;
}

.dont-display-until-medium {
  display: none;
}

.dont-display-until-large {
  display: none;
}

input {
  flex-grow: 2;
}

h2{
  text-align: center;
}

.location-preview {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location-name {
  display: flex;
}

.circle-small {
  border-radius: 50%;
  height: 3px;
  width: 3px;
  background-color: gray;
}

.preview {
  color: #3BA9AF;
}

.job-overview {
  width: 100%;
  background-color: white;
}

.top-job-overview-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.circle-small-green {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: lime;
}

.open-indicator-btn {
  display: flex;
  width: 80px;
  height: 35px;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #d9e3e8;
  background-color: white;
}

.bookmark-edit-delete-btn {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #d9e3e8;
  background-color: white;
}

.info-graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edf2f6;
}

.circles-wrapper {
  width: 100%;
}

.info-circles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphic-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

.green-infographic {
  border: 12px solid green;
  border-right-color: #d9e3e8;
}

.blue-infographic {
  border: 5px solid blue;
  border-right-color: #d9e3e8;
}

.purple-infographic {
  border: 5px solid purple;
  border-right-color: #d9e3e8;
}

.inside-circle {
  margin: 0;
}

.totals {
  margin: 0 auto;
  font-size: .8em;
  width: 60%;
  border-radius: 20px;
  border: 2px solid gray;
  background-color: white;

}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph img {
  width: 100%;
}

.applicants-per-day {
  background-color: white;
  border-radius: 20px;
  border: 2px solid gray;
}

hr {
  width: 100%;
}

.job-description {
  background-color: white;
}

.job-description-and-sharing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf2f6;
}

.job-description-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  background-color: #6f7e95;
  color: white;
}

.edit-btn {
  display: flex;
  align-items: center;
  height: 40%;
  background-color: #7e8ba7;
  color: white;
  margin-left: 20px;
  border: 0;
}

.job-description-row {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.job-description-row p {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: .9em;
}

.job-description-row img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.job-description-description-row {
  display: flex;
  align-self: flex-start;
}


.job-description-right {
  display: flex;
  justify-content: flex-end;
}

.social-buttons-wrapper {
  width: 100%;
}

.social-and-sharing {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.social-buttons {
  display: flex;
  flex-direction: column;

}

.social-btn {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  height: 45px;
  color: white;
  margin: 10px 0;
  border: 0;
}

.social-btn img {
  height: 25px;
  width: 25px;
}


.facebook-btn {
  background-color: #3c5a99;
}

.twitter-btn {
  background-color: #01abf1;
}

.linkedin-btn {
  background-color: #007bb5;
}

.three-cards {
  padding: 20px 0;
}

.input-and-button {
  display: flex;
  width: 100%;
  height: 45px;
}

.input-fields {
  width: 69%;
  padding-left: 10px;
}

.copy-button {
  margin-left: none;
  width: 27%;
  border: none;
  background-color: #47bcc3;
  color: white;
}

.soft-corners {
  border-radius: 3px;
  border: none;
}

.card-bottom-border {
  border-bottom: 2px solid gray;
}

#totals-btn {
  margin: 10px 0;
}

#admin-checkbox {
  background-color: #fcd212;
}

#design-checkbox {
  background-color: #24affe;
}


#exec-checkbox {
  background-color: #e61960;
}

#hr-checkbox {
  background-color: #00af8a;
}


@media (min-width: 500px) {
  .dont-display {
    display: block;
  }
}

@media (min-width: 700px) {

  /*header {
    margin-bottom: 30px;
    background-color: white;
  }*/

  .top-job-overview {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  h2 {
    margin: 5px 0;
  }

  .preview {
    margin: 0;
  }

  .location-preview {
    align-items: flex-start;
    justify-content: center;
  }

  .location-name p{
    margin: 0;
  }

  .location-name img {
    height: 16px;
  }

  .open-indicator-btn {
    margin-left: 20px;
  }


  .top-job-overview-right {
    display: flex;
    align-items: flex-start;
    width: 40%;
    justify-content: space-around;
  }

  .dont-display-until-medium {
    display: block;
  }

  .bottom-job-overview {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
  }

  .info-circles {
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 0;
  }

  .graphic-circle {
    margin-bottom: 0;
    height: 175px;
    width: 175px;
  }

}

/*@media (min-width: 900px) {
  .job-description-and-sharing {
    width: 100%;
  }

  .social-and-sharing {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .social-buttons-wrapper {

  }

  .three-cards-wrapper {

  }

  .social-buttons {

    /*width: 70%;*/
  /*}
/*}*//*/

/*@media (min-width: 1000px) {
  .job-description-and-sharing {
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
  }

  .job-description {
    width: 60%;
  }

  .social-and-sharing {
    flex-direction: column;
    width: 50%;
    padding: 0 30px;
  }

  .social-buttons-wrapper {
    width: 100%;
    padding: 0 20px;
  }

  .facebook-btn {
    margin-top: 0;
  }

  .top-job-overview {
    justify-content: space-between;
  }

  .top-job-overview-right {
    justify-content: center;
  }

  .job-description-right-btns {
    margin: 0 5px;
  }
}*/

@media (min-width: 1000px) {
  header {
    height: 50px;
  }

  .header-button {
    width: 70px;
    border-right: 1px solid #d9e3e8;
    border-top: none;
    border-bottom: 1px solid #d9e3e8;
  }

  .header-button img {
    width: 25px;
    height: 25px;
  }

  .left-border {
    border-left: 1px solid #d9e3e8;
  }

  #search-icon {
    border-right: none;
    padding-right: 0;
  }

  .info-graphics {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .info-circles {
    display: flex;
    flex-direction: column;
  }

  .circles-div {
    display: flex;
  }

  .totals-btn-div {
    display: flex;
    justify-content: center;
  }

  .graph-and-btn {
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .graph img{
    height: 150px;
    width: 300px;
    margin-bottom: 40px;
  }

   .dont-display-at-large{
    display: none;
  }

  .dont-display-until-large {
    display: block;
  }

  .main-header-wrapper {
    width: 90%;
    overflow: scroll;
  }

  .main-aside-wrapper {
    width: 220px;
    height: 100%;
    background-color: #354052;
    color: #7d889a;
  }

  aside {
    height: 100%;
  }

  .profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-pic img {
    margin: 25px auto 10px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }

  .profile-pic p {
    margin: 0 0 10px 0;
    font-size: .9em;
  }

  .main {
    padding-left: 10px;
    /*display: flex;
    flex-direction: column;*/
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li:hover {
    color: white;
  }

  .admin {
    padding-left: 10px;
  }

  .categories {
    padding-left: 10px;
  }

  .social-buttons-wrapper {
    padding: 0;
  }
}
